<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ stock.ticker }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stocks/css/detail.css' %}">
</head>
<body>
    <img src="{% static 'images/background-img.jpg' %}" alt="">
    <div class="navbar">
        <a class="nav-text" href="{% url 'main' %}">HOME</a>
    </div>
    <div class="containor">
        <div class="title-containor">
            <p class="title-text">{{stock.ticker}}</p>
            <p class="money-text">시가총액 {{ market_cap }} USD</p>
            <p class="info-text">{{ summary }}</p>
        </div>
        <div class="dividend-containor">
            <p class="dividend-text">배당 내역</p>
            <p class="dividend-text-2">최근 3년</p>
            <table>
                <thead>
                    <tr>
                        <th>배당일</th>
                        <th>배당금</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dividend in dividend_list %}
                    <tr>
                        <td>{{ dividend.date }}</td>
                        <td>{{ dividend.Dividends }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="stock-containor">
            <p class="stock-text">주가 내역</p>
            <p class="stock-text-2">최근 1년</p>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stock_history_list %}
                    <tr>
                        <td>{{ stock.date }}</td>
                        <td>{{ stock.Open }}</td>
                        <td>{{ stock.High }}</td>
                        <td>{{ stock.Low }}</td>
                        <td>{{ stock.Close }}</td>
                        <td>{{ stock.Volume }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</body>
</html>
