<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ stock.ticker }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stocks/css/detail.css' %}">
</head>
<body>
    <div class="background">
        <img src="{% static 'images/background-img.jpg' %}" alt="">
    </div>
    <div class="nav-containor">
        <a class="nav-text" href="{% url 'main' %}">HOME</a>
        <div class="navbar">
            <a class="nav-text" href="{% url 'high' %}">HIGH</a>
            <a class="nav-text" href="{% url 'middle' %}">MIDDLE</a>
        </div>
    </div>
    <div class="containor">
        <div class="title-containor">
            <p class="title-text">{{stock.ticker}}</p>
            <p class="money-text">시가총액 {{ market_cap }} USD</p>
            <p class="info-text">{{ summary }}</p>
        </div>
        <div class="stock_graph">
            <img src="data:image/png;base64,{{ graph }}" alt="1년 주식 그래프">
            <table class="current_table">
                <tr>
                    <td>현재 주가</td>
                    <td>{{ current_price }}</td>
                </tr>
                <tr>
                    <td>배당 지불일</td>
                    <td>{{ dividend_date }}</td>
                </tr>
                <tr>
                    <td>마지막 배당금</td>
                    <td>{{ last_dividend }}</td>
                </tr>
                <tr>
                    <td>연간 배당률</td>
                    <td>{{ dividend_yield }}</td>
                </tr>
            </table>
        </div>
        <div class="dividend-containor">
            <p class="dividend-text">배당 내역</p>
            <p class="dividend-text-2">최근 3년</p>
            <table>
                <thead>
                    <tr>
                        <th>배당락일</th>
                        <th>배당금</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dividend in dividend_list %}
                    <tr>
                        <td>{{ dividend.date }}</td>
                        <td>{{ dividend.Dividends }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="stock-containor">
            <p class="stock-text">주가 내역</p>
            <p class="stock-text-2">최근 1년</p>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stock_history_list %}
                    <tr>
                        <td>{{ stock.date }}</td>
                        <td>{{ stock.Open|floatformat:2 }}</td>
                        <td>{{ stock.High|floatformat:2 }}</td>
                        <td>{{ stock.Low|floatformat:2 }}</td>
                        <td>{{ stock.Close|floatformat:2 }}</td>
                        <td>{{ stock.Volume }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
