<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주식 정보</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stocks/css/high.css' %}">
</head>
<body>
    <img src="{% static 'images/background-img.jpg' %}" alt="">
    <div class="navbar">
        <a class="nav-text" href="{% url 'main' %}">HOME</a>
    </div>
    <div class="containor">
        <div class="title-containor">
            <p class="title-text">초고배당주</p>
            <p class="info-text">7%이상 배당률을 가지고 있는 주식</p>
        </div>
        <div class="table-containor">
            <table>
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>현재 주가</th>
                        <th>마지막 배당금</th>
                        <th>배당일</th>
                        <th>배당수익률</th>
                        <th>시가총액</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks_data %}
                    <tr>
                        <td><a href="{% url 'detail' ticker=stock.ticker %}">{{ stock.ticker }}</a></td>
                        <td>{{ stock.current_price }}</td>
                        <td>{{ stock.last_dividend }}</td>
                        <td>{{ stock.dividend_date }}</td>
                        <td>{{ stock.dividend_yield }}%</td>
                        <td>{{ stock.market_cap }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
