<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주식 정보</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stocks/css/high.css' %}">
</head>
<body>
    <img src="{% static 'images/background-img.jpg' %}" alt="">
    <div class="nav-containor">
        <a class="nav-text" href="{% url 'main' %}">HOME</a>
        <div class="navbar">
            <a class="nav-text" href="{% url 'high' %}">HIGH</a>
            <a class="nav-text" href="{% url 'middle' %}">MIDDLE</a>
        </div>
    </div>
    <div class="containor">
        <div class="title-containor">
            <p class="title-text">초고배당주</p>
            <p class="info-text">7%이상 배당률을 가지고 있는 주식</p>
        </div>
        <div class="table-containor">
            <table>
                <thead>
                    <tr>
                        <th><a href="?sort={% if sort_order == 'asc' %}desc{% else %}asc{% endif %}&field=ticker">Ticker</a></th>
                        <th><a href="?sort={% if sort_order == 'asc' %}desc{% else %}asc{% endif %}&field=close">종가(close)</a></th>
                        <th><a href="?sort={% if sort_order == 'asc' %}desc{% else %}asc{% endif %}&field=last_dividend">마지막 배당금</a></th>
                        <th><a href="?sort={% if sort_order == 'asc' %}desc{% else %}asc{% endif %}&field=dividend_date">배당 지불일</a></th>
                        <th><a href="?sort={% if sort_order == 'asc' %}desc{% else %}asc{% endif %}&field=dividend_yield">연간 배당수익률</a></th>
                        <th><a href="?sort={% if sort_order == 'asc' %}desc{% else %}asc{% endif %}&field=market_cap">시가총액</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks_data %}
                    <tr>
                        <td><a href="{% url 'detail' ticker=stock.ticker %}">{{ stock.ticker }}</a></td>
                        <td><a href="{% url 'detail' ticker=stock.ticker %}">{{ stock.close|floatformat:2 }}</a></td>
                        <td><a href="{% url 'detail' ticker=stock.ticker %}">{{ stock.last_dividend }}</a></td>
                        <td><a href="{% url 'detail' ticker=stock.ticker %}">{{ stock.dividend_date }}</a></td>
                        <td><a href="{% url 'detail' ticker=stock.ticker %}">{{ stock.dividend_yield }}%</a></td>
                        <td><a href="{% url 'detail' ticker=stock.ticker %}">{{ stock.market_cap }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            {% for page_num in page_range %}
                {% if page_num == page_obj.number %}
                    <span class="current">{{ page_num }}</span>
                {% else %}
                <a href="?page={{ page_num }}&sort={{ sort_order }}&field={{ sort_field }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
